{% extends "base.html" %}

{% block content %}

<h4 xmlns="http://www.w3.org/1999/html">Dzisiejszy trening:</h4>
<form method="POST">
<table>
{% for lift in lifts %}
<tr><td>Martwy ciąg: 5 x 5 x {{ lift.deadlift }}kg</td></tr>
<tr><td><input type="checkbox" id="1" name="deadlift">Zaliczone</input></td></tr>
<tr><td>Wyciskanie nad głową: 5 x 5 x {{ lift.oh_press }}kg</td></tr>
<tr><td><input type="checkbox" id="2" name="oh_press">Zaliczone!</input></td></tr>
<tr><td>Wiosłowanie w opadzie: 5 x 5 x {{ lift.barbell_row }}kg</td></tr>
<tr><td><input type="checkbox" id="3" name="barbell_row">Zaliczone!</input></td></tr>
{% endfor %}
</table>
{{ form.as_p }}
{% csrf_token %}
<button type="submit">Zakończ trening</button>
</form>
{% endblock %}
