{% extends "base.html" %}

{% block content %}

<h4>Dzisiejszy trening (dzień B):</h4>
<form method="POST">
    <ul class="list-group py-3">
        {% for lift in lifts %}
        <li class="list-group-item">Przysiad: 5 x 5 x {{ lift.squat }}kg</li>
        <li class="list-group-item"><input type="checkbox" id="1" name="squat">Zaliczone</input></li>
        <li class="list-group-item">Wyciskanie na ławce płaskiej: 5 x 5 x {{ lift.bench_press }}kg</li>
        <li class="list-group-item"><input type="checkbox" id="2" name="bench_press">Zaliczone</input></li>
        <li class="list-group-item">Podciągnięcia na drążku: 5 x maksymalna ilość powtórzeń</li>
        <li class="list-group-item"><input type="number" id="3" name="pull_ups" min="0" value="0">Liczba wykonanych powtórzeń</input></li>
        {% endfor %}
    </ul>
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-dark mt-2" style="width:100%">Zakończ trening</button>
</form>
{% endblock %}
