{% extends "base.html" %}

{% block content %}

<h4>Dzisiejszy trening:</h4>
<form method="POST">
<table>
{% for lift in lifts %}
<tr><td>Przysiad: 5 x 5 x {{ lift.squat }}kg</td></tr>
<tr><td><input type="checkbox" id="1" name="squat">Zaliczone</input></td></tr>
<tr><td>Wyciskanie na ławce płaskiej: 5 x 5 x {{ lift.bench_press }}kg</tr>
<tr><td><input type="checkbox" id="2" name="bench_press">Zaliczone</input></td></tr>
<tr><td>Podciągnięcia na drążku: 5 x {{ lift.pull_ups }} powtórzeń</td></tr>
<tr><td><input type="number" id="3" name="pull_ups" min="0" value="0">Liczba wykonanych powtórzeń</input></td></tr>
{% endfor %}
</table>
{{ form.as_p }}
{% csrf_token %}
<button type="submit">Zakończ trening</button>
</form>
{% endblock %}
