{% extends "base.html" %}

{% block content %}

<h4>Twoje wyniki:</h4>
<table>
{% for lift in lifts %}
<tr><td>Martwy ciąg: {{ lift.deadlift }}kg</td></tr>
<tr><td>Wyciskanie nad głową: {{ lift.oh_press }}kg</td></tr>
<tr><td>Wiosłowanie w opadzie: {{ lift.barbell_row }}kg</td></tr>
<tr><td>Wyciskanie na ławce płaskiej: {{ lift.bench_press }}kg</td></tr>
<tr><td>Przysiad: {{ lift.squat }}kg</tr><td></td>
<tr><td>Podciągnięcia na drążku: {{ lift.pull_ups }} powtórzeń</td></tr>
<tr><td>Liczba odbytych trenigów: {{ lift.training_count }}</td></tr>
{% endfor %}
</table>
<form method="POST">
{{ form.as_p }}
{% csrf_token %}
<button type="submit">Następny trening</button>
</form>
<form action="/maxes">
    <input type="submit" value="Oszacuj swoje maksy" />
</form>
<form action="/progress">
    <input type="submit" value="Sprawdź postępy" />
</form>
{% endblock %}
