{% extends "base.html" %}

{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="container"></div>
<script>
Highcharts.chart('container', {

    title: {
        text: 'Martwy ciąg, wyciskanie nad głową i wiosłowanie w opadzie:'
    },

    yAxis: {
        title: {
            text: 'Obciążenie [kg]'
        }
    },
    xAxis: {
        categories: [{% for hist in historya %}"{{ hist.date }}", {% endfor %}],

        title: {
            text: 'Czas'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },

    series: [{
        name: 'Martwy ciąg',
        data:
            [{% for hist in historya %}{{ hist.deadlift }}, {% endfor %}]
        }, {
        name: 'Wyciskanie nad głową',
        data:
            [{% for hist in historya %}{{ hist.oh_press }}, {% endfor %}]
        }, {
        name: 'Wiosłowanie w opadzie',
        data:
            [{% for hist in historya %}{{ hist.barbell_row }}, {% endfor %}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
});
</script>
<br>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="container2"></div>
<script>
Highcharts.chart('container2', {

    title: {
        text: 'Przysiad i wyciskanie na ławce płaskiej:'
    },

    yAxis: {
        title: {
            text: 'Obciążenie [kg]'
        }
    },
    xAxis: {
        categories: [{% for hist in historyb %}"{{ hist.date }}", {% endfor %}],

        title: {
            text: 'Czas'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },

    series: [{
        name: 'Wyciskanie na ławce płaskiej',
        data:
            [{% for hist in historyb %}{{ hist.bench_press }}, {% endfor %}]
            }, {
        name: 'Przysiad',
        data:
            [{% for hist in historyb %}{{ hist.squat }}, {% endfor %}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
});
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="container3"></div>
<script>
Highcharts.chart('container3', {

    title: {
        text: 'Podciągnięcia na drążku:'
    },

    yAxis: {
        title: {
            text: 'Powtórzenia'
        }
    },
    xAxis: {
        categories: [{% for hist in historyb %}"{{ hist.date }}", {% endfor %}],

        title: {
            text: 'Czas'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
        }
    },

    series: [{
        name: 'Podciągnięcia na drążku',
        data:
            [{% for hist in historyb %}{{ hist.pull_ups }}, {% endfor %}]
    }],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
});
</script>
<a href="/lifts" class="btn btn-outline-dark mt-2" style="width:100%">Powrót</a>
{% csrf_token %}
{% endblock %}
