{% extends 'base.html' %}

{% block content %}
<h3>Twoje rekordy:</h3>
    <ul class="list-group py-3">
        <li class="list-group-item">Martwy ciąg: {{ real_maxes.deadlift }}kg</li>
        <li class="list-group-item">Wyciskanie nad głową: {{ real_maxes.oh_press }}kg</li>
        <li class="list-group-item">Wiosłowanie w opadzie: {{ real_maxes.barbell_row }}kg</li>
        <li class="list-group-item">Wyciskanie na ławce płaskiej: {{ real_maxes.bench_press }}kg</li>
        <li class="list-group-item">Przysiad: {{ real_maxes.squat }}kg</li>
        <li class="list-group-item">Podciągnięcia na drążku: {{ real_maxes.pull_ups }} powtórzeń</li>
    </ul>
    <a href="/lifts" class="btn btn-outline-dark mt-2" style="width:100%">Powrót</a>
{% endblock %}